### Question 1
Consider the following Python module:
```python
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2
 
After importing the module into the interpreter, you execute: 
 
>>> b() 
>>> b() 
>>> b() 
>>>  a 
?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

# press b three time in pyhton terminal
# num_iterations = int(input("Enter the number of times to run function b(): "))
for _ in range(3):
    b()

# Display the final value of 'a'
print("The value of 'a' is:", a)

The value of 'a' is: 6

Whole code contains a variable a initialized to 0 and a,b,c function().

Lets call the function b() three times:

1. The first time it call b(), it makes a global and assigns the result of c(a) to a. So, 'a' becomes c(0), which is 0 + 2, resulting in a being set to 2.

2. The second time it call b(), it again assigns the result of c(a) to a. a is now 2, and c(2) is 2 + 2, so a becomes 4.

3. The third time it call b(), it assigns c(a) to 'a'. 'a' is now 4, and c(4) is 4 + 2, so a becomes 6.

After executing these three calls to b(), it get the value a is 6.

### Question 2 
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 
 

```python
>>> fileLength('midterm.py') 
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
  File "<pyshell#34>", line 1, in <module>
    fileLength('idterm.py')
  File "/Users/me/midterm.py", line 3, in fileLength
    infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

 
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: 
 
```python
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [2]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        length = len(content)
        return length
    except FileNotFoundError:
        return f"File {filename} not found."

# Print if file exists otherswise print exception that file noy found:
result = fileLength('midterm.py')
print(result)

result = fileLength('idterm.py')
print(result)

File midterm.py not found.
File idterm.py not found.

### Question 3 
Write a class named Marsupial that can be used as shown below: 
 
```python
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']


Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

1. extends the Marsupial  __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, 
2. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy unitalong    the y- axis, and 
3. overloads the __str__ operator so it behaves as shown below. 
 
```python
>>> k = Kangaroo(0, 0)
>>> print(k)
I am a Kangaroo located at coordinates (0, 0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1, 0)
>>> k.jump(1, 0)
>>> k.jump(1, 0)
>>> print(k)
I am a Kangaroo located at coordinates (3, 0)

In [3]:
# class Marsupial
class Marsupial:
    def __init__(self):
        self.pouch = []  # Initialize an empty pouch

    def put_in_pouch(self, item):
        self.pouch.append(item)  # Add an item to the pouch

    def pouch_contents(self):
        return self.pouch  # Return the contents of the pouch

# class called Kangaroo which inherits from Marsupial
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Initialize the Marsupial part of Kangaroo
        self.x = x  # Initialize Kangaroo's x-coordinate
        self.y = y  # Initialize Kangaroo's y-coordinate

    def jump(self, dx, dy):
        self.x += dx  # Move Kangaroo's x-coordinate by dx
        self.y += dy  # Move Kangaroo's y-coordinate by dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"


# Create a Marsupial, put items in its pouch, and print the contents
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(f"Marsupial's pouch contents: {m.pouch_contents()}")

# Create a Kangaroo at coordinates (0, 0), put items in its pouch, jump, and print its location
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(f"Kangaroo's pouch contents: {k.pouch_contents()}")
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

Marsupial's pouch contents: ['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
Kangaroo's pouch contents: ['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

### Question 4 
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence: 
 
x = {  洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 
+ 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 
 
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops. 

```python
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2

In [4]:
# collatz that takes an integer 'x' as input
def collatz(x):
    print(x)  # Print the current value of 'x'
    
    # Check if 'x' is equal to 1, and if so, stop the recursion
    if x == 1:
        return
    
    # Check if 'x' is even
    if x % 2 == 0:
        # If 'x' is even, call the collatz function with 'x' divided by 2
        collatz(x // 2)
    else:
        # If 'x' is odd, call the collatz function with 3 times 'x' plus 1
        collatz(3 * x + 1)

collatz(1)  # Start the collatz sequence with '1'

print("---------") 

collatz(10)

1
---------
10
5
16
8
4
2
1

### Question 5 
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n. 
 
```python
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [5]:
def binary(n):
    if n == 0:
        print("0")
    elif n == 1:
        print("1")
    else:
        binary(n // 2)
        print(n % 2, end="")

# Print
binary(0)
binary(1)
binary(3)
binary(9)

0
1
1
11
001

### Question 6 
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

```python
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C  Mission 
Principles

#### I use in this Stackoverflow Reference: https://stackoverflow.com/questions/36969621/html-parser-handle-starttag

In [6]:
from html.parser import HTMLParser

# HeadingParser that inherits from HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()  # Initializing the HTMLParser
        self.headings = []  # Initializing a list to store headings
        self.current_heading = ""  # Initialize a variable to store the current heading text
        self.in_heading = False  # Initialize a flag to track if we're inside a heading
        self.indentation = 0  # Initialize the indentation level

    # Handle HTML elements
    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1:].isdigit():
            # If the tag is an 'h1', 'h2', etc., consider it a heading
            self.in_heading = True
            self.indentation = int(tag[1:]) - 1  # Calculate the indentation level
            self.current_heading = ""  # Initialize the current heading text

    # Handle the data (text) within HTML elements
    def handle_data(self, data):
        if self.in_heading:
            # If we're inside a heading, append the data to the current_heading
            self.current_heading += data.strip()

    # Handle the end tag of HTML elements
    def handle_endtag(self, tag):
        if self.in_heading:
            # If we were inside a heading
            self.in_heading = False  # Reset the flag
            heading_text = self.current_heading.strip()
            if heading_text:
                # If there's non-empty heading text, add it to the headings list with its indentation
                self.headings.append((self.indentation, heading_text))
            self.current_heading = ""  # Reset the current heading text

    # Print the headings with proper indentation
    def print_headings(self):
        for indentation, heading in self.headings:
            # Print each heading with the appropriate level of indentation
            print(' ' * (indentation * 2) + heading)

# Main Class
if __name__ == "__main__":
    # Reading the HTML content from 'w3c.html'
    infile = open('w3c.html', 'r', encoding='utf-8')
    content = infile.read()
    infile.close()

    # print the headings
    hp = HeadingParser()
    hp.feed(content)
    hp.print_headings()

W3C Mission
  Principles

### Question 7 
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL

- [http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html](http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html)
    - [http://web.simmons.edu/~grovesd/comm244/notes/week3/css-linking#internal](http://web.simmons.edu/~grovesd/comm244/notes/week3/css-linking#internal)
    - [http://web.simmons.edu/~grovesd/comm244](http://web.simmons.edu/~grovesd/comm244)
    - [http://web.simmons.edu/~grovesd/comm244/week3](http://web.simmons.edu/~grovesd/comm244/week3)

#### I use in this Stackoverflow Reference: https://stackoverflow.com/questions/69149794/what-does-requests-geturl-address-raise-for-status-perform-in-requests-pac

In [7]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    # Base case: If depth is 0, return without visiting the URL
    if depth == 0:
        return
    
    try:
        # Send a GET request to the URL
        response = requests.get(url)
        response.raise_for_status()  # Raise an exception for HTTP errors
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Print the URL with the appropriate indentation
        print(" " * indent + url)
        
        # Find all the links on the current web page
        links = soup.find_all('a', href=True)
        
        # Recursively visit the linked pages with reduced depth and increased indentation
        for link in links:
            new_url = link['href']
            if not new_url.startswith('http'):
                # Handle relative URLs by joining them with the base URL
                new_url = '/'.join(url.split('/')[:-1]) + '/' + new_url
            webdir(new_url, depth - 1, indent + 4)
    
    except requests.exceptions.RequestException as e:
        print("Error:", e)
    except Exception as e:
        print("An error occurred:", e)

#  URL Link:
webdir('http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html', 2, 0)

http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html
    http://web.simmons.edu/~grovesd/comm244/notes/week3/css-linking#internal
    http://web.simmons.edu/~grovesd/comm244
    http://web.simmons.edu/~grovesd/comm244/week3

### Question 8 
Write SQL queries on the below database table that return: 
1. All the temperature data. 
2. All the cities, but without repetition. 
3. All the records for India. 
4. All the Fall records.
5. The city, country, and season for which the average rainfall is between 200 
and 400 millimeters. 
6. The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order. 
7. The total annual rainfall for Cairo. 
8. The total rainfall for each season.

| City   | Country          | Season | Temperature (C) | Rainfall (mm) |
|--------|------------------|--------|-----------------|---------------|
| Mumbai | India            | Winter | 24.8            | 5.9           |
| Mumbai | India            | Spring | 28.4            | 16.2          |
| Mumbai | India            | Summer | 27.9            | 1549.4        |
| Mumbai | India            | Fall   | 27.6            | 346.0         |
| London | United Kingdom   | Winter | 4.2             | 207.7         |
| London | United Kingdom   | Spring | 8.3             | 169.6         |
| London | United Kingdom   | Summer | 15.7            | 157.0         |
| London | United Kingdom   | Fall   | 10.4            | 218.5         |
| Cairo  | Egypt            | Winter | 13.6            | 16.5          |
| Cairo  | Egypt            | Spring | 20.7            | 6.5           |
| Cairo  | Egypt            | Summer | 27.7            | 0.1           |
| Cairo  | Egypt            | Fall   | 22.2            | 4.5           |

In [8]:
import sqlite3

# Create a new SQLite database or connect to an existing one
conn = sqlite3.connect('weather_data.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create a table
cursor.execute('''
    CREATE TABLE Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')


# Insert data
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO Weather VALUES (?,?,?,?,?)', data)

In [9]:
data

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [29]:
# Query 1: All the temperature data
cursor.execute('SELECT Temperature FROM Weather')
temperature_data = cursor.fetchall()
print("Temperature Data:")
for row in temperature_data:
    print(row[0])

Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [28]:
# Query 2: All the cities, but without repetition
cursor.execute('SELECT DISTINCT City FROM Weather')
cities = cursor.fetchall()
print("Cities without repetition:")
for row in cities:
    print(row[0])

Cities without repetition:
Mumbai
London
Cairo

In [31]:
# Query 3: All the records for India
cursor.execute('SELECT * FROM Weather WHERE Country = "India"')
india_records = cursor.fetchall()
print("Records for India:")
for row in india_records:
    print(row)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [32]:
# Query 4: All the Fall records
cursor.execute('SELECT * FROM Weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()
print("Fall Records:")
for row in fall_records:
    print(row)

Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [40]:
# Query 5: The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('SELECT City, Country, Season FROM Weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400')
rainfall_data = cursor.fetchall()
print("Cities with average rainfall between 200 and 400 millimeters:")
for row in rainfall_data:
    print(row)

Cities with average rainfall between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [39]:
# Query 6: The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country
    FROM Weather
    WHERE Season = 'Fall'
    GROUP BY City, Country
    HAVING AVG(Temperature) > 20
    ORDER BY AVG(Temperature) ASC
''')
fall_temperature_data = cursor.fetchall()
print("Cities and countries with average Fall temperature above 20 degrees (in increasing order):")
for row in fall_temperature_data:
    print(row)

Cities and countries with average Fall temperature above 20 degrees (in increasing order):
('Cairo', 'Egypt')
('Mumbai', 'India')

In [16]:
# Query 7: The total annual rainfall for Cairo.
cursor.execute('SELECT SUM(Rainfall) AS Total_Rainfall FROM Weather WHERE City = "Cairo"')
cairo_annual_rainfall = cursor.fetchone()
print("Total annual rainfall for Cairo:", cairo_annual_rainfall[0])

Total annual rainfall for Cairo: 27.6

In [17]:
# Query 8: The total rainfall for each season.
cursor.execute('SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Weather GROUP BY Season')
seasonal_rainfall = cursor.fetchall()
print("Total rainfall for each season:")
for season in seasonal_rainfall:
    print(f"{season[0]}: {season[1]}")

Total rainfall for each season:
Fall: 569.0
Spring: 192.29999999999998
Summer: 1706.5
Winter: 230.1

### Question 9 
Suppose list words is defined as follows:

    words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog']
    
Write list comprehension expressions that use list words and generate the following 
lists:

| Description | List |
|-------------|------|
| a) Uppercase Words | ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG'] |
| b) Lowercase Words | ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] |
| c) Word Lengths | [3, 5, 5, 3, 5, 4, 3, 4, 3] |
| d) Word Information | [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] |
| e) Words with 4 or More Characters | ['The', 'quick', 'brown', 'jumps', 'over', 'lazy'] |

In [18]:
# Define the List of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [19]:
# a) Uppercase Words
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [20]:
# b) Lowercase Words
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [21]:
# c) Words Lengths
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [22]:
# d) Word Information
word_information = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_information)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [23]:
# e) Words with 4 or More Characters
words_4_or_more = [word for word in words if len(word) >= 4]
print(words_4_or_more)

['quick', 'brown', 'jumps', 'over', 'lazy']